fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
bcrypt
cryptography
python-dotenv
python-multipart
email-validator
argon2-cffi
git+https://github.com/open-quantum-safe/liboqs-python.git
